services:
  db:
    image: postgres:16
    container_name: ubermenschdb
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ubermensch
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: ubermenschcache
    restart: always
    ports:
      - "6379:6379"
    command: [ "redis-server", "--save", "", "--appendonly", "no" ]
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
